<!-- Hero Start -->
<section class="bg-half-260 d-table w-100" style="background: url('assets/images/construction/bg.jpg') center center;"
    id="home">
    <div class="bg-overlay" style="opacity: 0.65;"></div>
    <div class="container">
        <div class="row mt-5 mt-md-4">
            <div class="col-12">
                <div class="title-heading">
                    <h4 class="display-4 mb-4 fw-bold text-white title-dark">Comience a construir
                             <br>la casa de sus sueños</h4>
                    <p class="para-desc text-white-50">Amamos compartir espacios hechos con amor</p>
                    <div class="mt-4 pt-2">
                        <!-- <a href="javascript:void(0)" class="btn btn-primary">Get Started</a> -->
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-absolute rounded bg-white shadow">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 my-4">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="d-flex features p-4">
                                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                            <i class="uil uil-ruler-combined align-middle h4 mb-0"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h4 class="title">Gerencia de proyectos</h4>
                                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which
                                                more corresponds.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-md-6 col-12">
                                    <div class="d-flex features p-4">
                                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                            <i class="uil uil-constructor align-middle h4 mb-0"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h4 class="title">Diseño estructural y arquitectónico</h4>
                                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which
                                                more corresponds.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-md-6 col-12">
                                    <div class="d-flex features p-4">
                                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                            <i class="uil uil-no-entry align-middle h4 mb-0"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h4 class="title">Estructuras y cubiertas metálicas</h4>
                                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which
                                                more corresponds.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-md-6 col-12">
                                    <div class="d-flex features p-4">
                                        <div class="icon text-center rounded-circle text-primary me-3 mt-2">
                                            <i class="uil uil-cog align-middle h4 mb-0"></i>
                                        </div>
                                        <div class="flex-1">
                                            <h4 class="title">Interventora</h4>
                                            <p class="text-muted para mb-0">Composed in a pseudo-Latin language which
                                                more corresponds.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end col-->

                        <div class="col-lg-4 d-none d-lg-block position-relative">
                            <img src="assets/images/construction/serveices.png"
                                class="img-fluid mx-auto d-block construction-img" alt="">
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!--end col-->

            <!-- <div class="col-12 mt-4 pt-2 text-center">
                <p class="text-muted mb-0">Our list of services does not end here. <a href="javascript:void(0)"
                        class="text-primary h6">Click here</a>, and We’ll come up with more solution for you!</p>
            </div> -->
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 col-12">
                <div class="position-relative">
                    <img src="assets/images/construction/about.jpg" class="rounded img-fluid mx-auto d-block" alt="">
                    <div class="play-icon">
                        <a (click)="openWindowCustomClass(content)" href="javascript:void(0);" data-type="youtube"
                            data-id="yba7hPeTSjk" class="play-btn">
                            <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                        </a>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://player.vimeo.com/video/467655077" height="450" width="780"
                                    frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-5 ms-md-4">
                    <div class="section-title">
                        <span class="badge rounded-pill bg-soft-primary">SOBRE NOSOTROS</span>
                        <h4 class="title mt-3 mb-4">Somos líderes <br> en <span
                                class="text-primary">CONSTRUCCIÓN y ASISTENCIA</span></h4>
                        <p class="text-muted para-desc mx-auto">Start working with <span
                                class="text-primary fw-bold">CONASISTENCIA</span> that can provide everything you need to
                            generate awareness, drive traffic, connect.</p>
                        <p class="text-muted para-desc mx-auto mb-0">The most well-known dummy text is the 'Lorem
                            Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a
                            pseudo-Latin language which more or less corresponds to 'proper' Latin.</p>
                        <div class="mt-4">
                            <!-- <a href="javascript:void(0)" class="btn btn-primary">Learn More</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="section-title sticky-bar position-sticky">
                    <span class="badge rounded-pill bg-soft-primary">PROYECTOS</span>
                    <h4 class="title mt-3 mb-4">Nuestros Proyectos </h4>
                    <p class="text-muted para-desc mb-0">Start working with <span
                            class="text-primary fw-bold">CONASISTENCIA</span> that can provide everything you need to
                        generate awareness, drive traffic, connect.</p>
                    <!-- <div class="mt-4 d-none d-md-block">
                        <a href="javascript:void(0)" class="btn btn-soft-primary">Contáctanos <i-feather name="arrow-right"
                                class="fea icon-sm"></i-feather></a>
                    </div> -->
                    
                    <div class="d-grid">
                        <a href="javascript:void(0)" (click)="openModal(contactMe)" data-bs-toggle="modal"
                          data-bs-target="#Contactme" class="btn btn-primary"><i class="uil uil-envelope align-middle"></i>
                          Contáctanos</a>
                    </div>
                      <!-- Modal Content Start -->
                      <ng-template #contactMe let-modal>
                        <div class="modal-content rounded shadow border-0">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Contáctanos </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                              (click)="modal.dismiss('Cross click')"></button>
                          </div>
                          <div class="modal-body p-4">
                            <div class="custom-form mt-3">
                              <form method="post" name="myForm" onsubmit="return validateForm()">
                                <p id="error-msg" class="mb-0"></p>
                                <div id="simple-msg"></div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="mb-3">
                                      <label class="form-label">Su nombre <span class="text-danger">*</span></label>
                                      <div class="form-icon position-relative">
                                        <i-feather name="user" class="fea icon-sm icons"></i-feather>
                                        <input name="name" id="name" type="text" class="form-control ps-5" placeholder="Name :">
                                      </div>
                                    </div>
                                  </div>
          
                                  <div class="col-12">
                                    <div class="mb-3">
                                      <label class="form-label">Correo electrónico <span class="text-danger">*</span></label>
                                      <div class="form-icon position-relative">
                                        <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                                        <input name="email" id="email" type="email" class="form-control ps-5"
                                          placeholder="Email :">
                                      </div>
                                    </div>
                                  </div>
                                  <!--end col-->
          
                                  <div class="col-12">
                                    <div class="mb-3">
                                      <label class="form-label">Asunto</label>
                                      <div class="form-icon position-relative">
                                        <i-feather name="book" class="fea icon-sm icons"></i-feather>
                                        <input name="subject" id="subject" class="form-control ps-5" placeholder="subject :">
                                      </div>
                                    </div>
                                  </div>
                                  <!--end col-->
          
                                  <div class="col-12">
                                    <div class="mb-3">
                                      <label class="form-label">Comentarios <span class="text-danger">*</span></label>
                                      <div class="form-icon position-relative">
                                        <i-feather name="message-circle" class="fea icon-sm icons clearfix"></i-feather>
                                        <textarea name="comments" id="comments" rows="4" class="form-control ps-5"
                                          placeholder="Message :"></textarea>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-12">
                                    <div class="d-grid">
                                      <button type="submit" id="submit" name="send" class="btn btn-primary">Enviar mensaje</button>
                                    </div>
                                  </div>
                                  <!--end col-->
                                </div>
                                <!--end row-->
                              </form>
                            </div>
                            <!--end custom-form-->
                          </div>
                        </div>
                      </ng-template>
                      <!-- Modal Content End -->
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-8 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="row">
                    <div class="col-12 filters-group-wrap">
                        <div class="filters-group">
                            <ul class="container-filter list-inline mb-0 filter-options" id="filter">
                                <li class="list-inline-item categories-name border text-dark rounded ms-2"
                                    (click)="activeCategory('all')" [ngClass]="{'active': galleryFilter ==='all'}">
                                    <a>Todo</a>
                                </li>
                                <li class="list-inline-item categories-name border text-dark rounded ms-2"
                                    (click)="activeCategory('offices')"
                                    [ngClass]="{'active': galleryFilter ==='offices'}"><a>Oficinas</a></li>
                                <li class="list-inline-item categories-name border text-dark rounded ms-2"
                                    (click)="activeCategory('buildings')"
                                    [ngClass]="{'active': galleryFilter ==='buildings'}"><a>Edificios</a></li>
                                <li class="list-inline-item categories-name border text-dark rounded ms-2"
                                    (click)="activeCategory('roads')" [ngClass]="{'active': galleryFilter ==='roads'}">
                                    <a>Estructuras</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

                <div id="grid" class="row">
                    <div class="col-lg-6 col-12 mt-4 pt-2 picture-item" *ngFor="let item of filterredImages">
                        <div class="card border-0 work-container work-classic shadow overflow-hidden">
                            <div class="card-body p-0">
                                <a routerLink="/portfolio-detail-one"><img src="{{ item.image}}"
                                        class="img-fluid work-image" alt=""></a>
                                <!-- <div class="content p-4">
                                    <h5 class="mb-0"><a routerLink="/portfolio-detail-one"
                                            class="text-dark title">{{item.text}}</a></h5>
                                    <h6 class="text-muted tag mb-0">{{item.sub_text}}</h6>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

                
                <!--end row-->

                <div class="row">
                    <div class="col-12 mt-4 pt-2">
                        <div class="d-block d-md-none">
                            <a href="javascript:void(0)" class="btn btn-soft-primary">See More <i-feather
                                    name="arrow-right" class="fea icon-sm"></i-feather></a>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    

</section>
<!--end section-->



<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->